$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      #hide{
        display: none;
      }
      .butt {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #ccc;

        &:hover, &.active, &:focus {
          background-color: yellow;
        }
      }
      
    }
  }
}
